* @Orion-BBO
* @Tristan-GPT
* @etoile2feu
* @issamow

/apps/web/ @Orion-BBO
/apps/desktop/ @Orion-BBO
/apps/mobile/ @Orion-BBO
/apps/bot/ @Orion-BBO
/packages/shared/ @Orion-BBO
/packages/ui/ @Orion-BBO
